{% extends "base.html" %}
{% block title %}Short Link{% endblock %}

{% block content %}
    <h4>{{already_exists|safe}}</h4>

    <form action="#">
        <div style="clear:both;"></div>
        <div class="copy-link">
            <div style="float:left;">
                <input readonly="" name="id" class="copy-link-input" value="https://agoko.herokuapp.com/{{short_url_display}}" size="30">       
            </div>
            <button type="button" class="copy-link-button">Copy</button>
        </div>
        <div style="clear:both;"><br></div>
        
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" onclick="window.location.href='https://agoko.herokuapp.com/'">Home</button>
        </div>
    </form>

    <script>
        document.querySelectorAll(".copy-link").forEach(copyLinkContainer => {
            const inputField = copyLinkContainer.querySelector(".copy-link-input");
            const copyButton = copyLinkContainer.querySelector(".copy-link-button");

            inputField.addEventListener("focus", () => inputField.select());

            copyButton.addEventListener("click", () => {
                const text = inputField.value;
                inputField.select();
                navigator.clipboard.writeText(text);
                copyButton.innerHTML = "Copied!";
            });
        });
    </script>
{% endblock %}